body {
  font-family: "Arial", Helvetica, sans-serif;
}

h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;
}

h2 {
  color: #blue;
  background-color: #ff8000
}


#contact {
  background-color: #FFDE7A;
  padding: 2%;
}
